In [3]:
# titanic csv데이터 가져와서 데이터프레임 만들기
import pandas as pd

df = pd.read_csv('C:/apps/ml/datasets/titanic.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df.drop(columns = ['Name', 'SibSp', 'Ticket', 'PassengerId', 'Cabin', 'Fare', 'Parch'], inplace=True)

df.head(5)

   Survived  Pclass     Sex   Age Embarked
0         0       3    male  22.0        S
1         1       1  female  38.0        C
2         1       3  female  26.0        S
3         1       1  female  35.0        S
4         0       3    male  35.0        S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   Embarked  889 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 34.9+ KB

In [6]:
# fillna - Age => mean
# Embarked => S
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Embarked      2
dtype: int64

In [8]:
# 결측치 채우기

df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Embarked'].fillna('S', inplace=True)

df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Embarked    0
dtype: int64

In [13]:
df.head(5)

   Survived  Pclass     Sex   Age Embarked
0         0       3    male  22.0        S
1         1       1  female  38.0        C
2         1       3  female  26.0        S
3         1       1  female  35.0        S
4         0       3    male  35.0        S

In [14]:
X = df.drop('Survived', axis=1)
y = df.loc[:, 'Survived']

In [16]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
X['Sex'] = encoder.fit_transform(X['Sex'])
X['Embarked'] = encoder.fit_transform(X['Embarked'])

In [18]:
from sklearn.preprocessing import RobustScaler

scaller = RobustScaler()
X['Age'] = scaller.fit_transform(X[['Age']])

In [19]:
X

     Pclass  Sex       Age  Embarked
0         3    1 -0.592240         2
1         1    0  0.638529         0
2         3    0 -0.284548         2
3         1    0  0.407760         2
4         3    1  0.407760         2
..      ...  ...       ...       ...
886       2    1 -0.207624         2
887       1    0 -0.823009         2
888       3    0  0.000000         2
889       1    1 -0.284548         0
890       3    1  0.176991         1

[891 rows x 4 columns]

In [37]:
from sklearn.preprocessing import RobustScaler, MinMaxScaler

scaler = MinMaxScaler()
X['Age'] = scaler.fit_transform(X[['Age']])
X

     Pclass  Sex       Age  Embarked
0         3    1  0.271174         2
1         1    0  0.472229         0
2         3    0  0.321438         2
3         1    0  0.434531         2
4         3    1  0.434531         2
..      ...  ...       ...       ...
886       2    1  0.334004         2
887       1    0  0.233476         2
888       3    0  0.367921         2
889       1    1  0.321438         0
890       3    1  0.396833         1

[891 rows x 4 columns]

In [53]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   test_size = 0.1, random_state = 111)

# sklearn.base.BaseEstimator
class sklearn.base.BaseEstimator

In [54]:
from sklearn.base import BaseEstimator
from sklearn.ensemble import RandomForestClassifier

be_clf = RandomForestClassifier()
be_clf.fit(X_train, y_train)

pred = be_clf.predict(X_test)

In [58]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

print("정확도:", accuracy_score(y_test, pred))
print("정밀도:", precision_score(y_test, pred))
print("재현율:", recall_score(y_test, pred))

정확도: 0.8111111111111111
정밀도: 0.8
재현율: 0.6857142857142857

In [59]:
#정밀도 재현율 역수의 합의 평균-> (1/정+1/재)1/2 => 정+재/정*재 * 1/2

from sklearn.metrics import f1_score #조합평균의 역수(역수의 평균)

print("f1 score :", f1_score(y_test, pred))

f1 score : 0.7384615384615385

In [64]:
#3개 이상의 클래스 -> 
#predict_proba 각 클래스에대한 확률

from sklearn.linear_model import LogisticRegression

lr_clf = LogisticRegression()
lr_clf.fit(X_train, y_train)

pred_proba = lr_clf.predict_proba(X_test)
pred=lr_clf.predict(X_test)
print(pred)
print(pred_proba)
print(f'pred_proba()결과 Shape : {pred_proba.shape}')

[1 1 1 0 0 0 0 1 0 1 0 0 1 1 0 1 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 1
 0 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 1
 0 1 0 1 0 0 0 0 0 1 1 0 0 0 0 0]
[[0.30673966 0.69326034]
 [0.24313959 0.75686041]
 [0.06385122 0.93614878]
 [0.8827164  0.1172836 ]
 [0.92726492 0.07273508]
 [0.6068496  0.3931504 ]
 [0.84989784 0.15010216]
 [0.06457926 0.93542074]
 [0.90268062 0.09731938]
 [0.23392688 0.76607312]
 [0.73260025 0.26739975]
 [0.89937811 0.10062189]
 [0.3013728  0.6986272 ]
 [0.07893166 0.92106834]
 [0.9195562  0.0804438 ]
 [0.4534506  0.5465494 ]
 [0.08362292 0.91637708]
 [0.85475718 0.14524282]
 [0.79209074 0.20790926]
 [0.24783731 0.75216269]
 [0.32739033 0.67260967]
 [0.63959002 0.36040998]
 [0.9195562  0.0804438 ]
 [0.96195566 0.03804434]
 [0.90924633 0.09075367]
 [0.9195562  0.0804438 ]
 [0.85430153 0.14569847]
 [0.23850269 0.76149731]
 [0.90268062 0.09731938]
 [0.8827164  0.1172836 ]
 [0.08303999 0.91696001]
 [0.31763099 0.68236901]
 [0.18382796 0.81617204]
 [0.89228001 0.10771999]
 [0.9237687  0.0762313 ]
 [0.58240082 0.41759918]
 [0.06855315 0.93144685]
 [0.6007823  0.3992177 ]
 [0.05667736 0.94332264]
 [0.82771326 0.17228674]
 [0.935368   0.064632  ]
 [0.76591669 0.23408331]
 [0.13051277 0.86948723]
 [0.61602243 0.38397757]
 [0.90268062 0.09731938]
 [0.77488832 0.22511168]
 [0.46108669 0.53891331]
 [0.53869644 0.46130356]
 [0.0886576  0.9113424 ]
 [0.5762197  0.4237803 ]
 [0.93981837 0.06018163]
 [0.46549569 0.53450431]
 [0.33165553 0.66834447]
 [0.92895709 0.07104291]
 [0.46549569 0.53450431]
 [0.91233717 0.08766283]
 [0.72266016 0.27733984]
 [0.70452197 0.29547803]
 [0.8827164  0.1172836 ]
 [0.41406193 0.58593807]
 [0.84663345 0.15336655]
 [0.439031   0.560969  ]
 [0.87264923 0.12735077]
 [0.9195562  0.0804438 ]
 [0.41406193 0.58593807]
 [0.08964139 0.91035861]
 [0.9195562  0.0804438 ]
 [0.94262422 0.05737578]
 [0.88150241 0.11849759]
 [0.90819444 0.09180556]
 [0.61602243 0.38397757]
 [0.63666161 0.36333839]
 [0.9195562  0.0804438 ]
 [0.38091002 0.61908998]
 [0.89937811 0.10062189]
 [0.08362292 0.91637708]
 [0.90268062 0.09731938]
 [0.08303999 0.91696001]
 [0.8827164  0.1172836 ]
 [0.69307473 0.30692527]
 [0.76133877 0.23866123]
 [0.8827164  0.1172836 ]
 [0.92726492 0.07273508]
 [0.07532169 0.92467831]
 [0.3013728  0.6986272 ]
 [0.75669977 0.24330023]
 [0.90268062 0.09731938]
 [0.9237687  0.0762313 ]
 [0.9195562  0.0804438 ]
 [0.54309968 0.45690032]]
pred_proba()결과 Shape : (90, 2)

In [72]:
import numpy as np

pred_proba = lr_clf.predict_proba(X_test)
pred = lr_clf.predict(X_test)

#d예측 확률 array와 예측 결과값 array를 concatenate하여 예측 확률과 결값을 한눈에 확인
print('pred_proba()결과 Shape : {0}'.format(pred_proba.shape))
print('pred_proba arry에서 앞 3개만 샘플로 추출\n:', pred_proba[:3])

pred_proba_result = np.concatenate([pred_proba, pred.reshape(-1, 1)], axis=1)
print('두개의 class 중에서 더 큰 확률을 클래스 값으로 예측 \n', pred_proba_result[:3])

pred_proba()결과 Shape : (90, 2)
pred_proba arry에서 앞 3개만 샘플로 추출
: [[0.30673966 0.69326034]
 [0.24313959 0.75686041]
 [0.06385122 0.93614878]]
두개의 class 중에서 더 큰 확률을 클래스 값으로 예측
 [[0.30673966 0.69326034 1.        ]
 [0.24313959 0.75686041 1.        ]
 [0.06385122 0.93614878 1.        ]]

In [ ]:
X = [[1, -1, 2],
    [2, 0, 0],
     [0, 1.1, ]

In [73]:
(10/2+10/8)/2  # 0.8재현율

3.125

In [74]:
1/3.125

0.32

In [75]:
(10/3+10/7)/2

2.380952380952381

In [76]:
1/2.380952380952381

0.42

In [82]:
from sklearn.metrics import precision_recall_curve

#레이블 값이 1일때의 예측 확률을 추출
pred_proba_class1 = lr_clf.predict_proba(X_test)[:, 1]

#실제값 데이터 셋과 레이블 값이 1일 떄의 예측 확률을 precision_recall_curve인자로 입력
precisions, recalls, threshods = precision_recall_curve(y_test, pred_proba_class1)
print('반환된 분류 결정 임계값 배열의 Shape:',threshods.shape)
print('반환된 precisions 배열의 Shape:', precisions.shape)
print('반환된 recalls 배열의 Shape:', recalls.shape)

print('thresholds 5 saple:', threshods[:5])
print('precisions 5 sample:', precisions[:5])
print('recalls 5 saple:', recalls[:5])

#반환된 임계값 배열 로우가 147건이므로 샘플로 10건의 추출하되, 임계값을 15 step으로 추출
thr_index = np.arange(0, threshods.shape[0], 15)
print('샘플 추출을 위한 임계값 배열의 index 10개:', thr_index)
print('샘플용 10개의 임계값:', np.round(threshods[thr_index], 2))

#15 step 단위로 추출된 임계값에 따른 정밀도와 재현율 값
print('샘플 임계값별 정밀도:', np.round(precisions[thr_index], 3))
print('샘플 임계값별 재현율:', np.round(recalls[thr_index], 3))

반환된 분류 결정 임계값 배열의 Shape: (67,)
반환된 precisions 배열의 Shape: (68,)
반환된 recalls 배열의 Shape: (68,)
thresholds 5 saple: [0.03804434 0.05737578 0.06018163 0.064632   0.07104291]
precisions 5 sample: [0.38888889 0.39325843 0.38636364 0.3908046  0.39534884]
recalls 5 saple: [1.         1.         0.97142857 0.97142857 0.97142857]
샘플 추출을 위한 임계값 배열의 index 10개: [ 0 15 30 45 60]
샘플용 10개의 임계값: [0.04 0.12 0.31 0.62 0.92]
샘플 임계값별 정밀도: [0.389 0.5   0.558 0.84  1.   ]
샘플 임계값별 재현율: [1.    0.829 0.686 0.6   0.229]

In [ ]:
import matplotlib,pyplot as plt
import matplotlib.ticker as ticker
%matplotlib uinline

def precision_recall_curve_plot(y_test, pred_proba_c1):